<div class="divContent" id="rel2">
  <ul>
    <li *ngFor="let menu of alldata; let i = index">
      <mat-card class="example-card">
        <div routerLink="/detail/{{ menu.id }}">
          <mat-card-header>
            <mat-card-title>{{ menu.recipe_name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="menu.image" alt="no image" />
          <mat-card-content>
            <p>Harga : Rp.{{ menu.price }}</p>
          </mat-card-content>
        </div>
        <form action="" [formGroup]="addtocartform">
          <mat-card-actions>
            <input
              type="text"
              formControlName="note"
              placeholder="Give Your Note Here"
              class="inpnumber"
            />
            <br />
            <input
              class="inpnumber"
              type="number"
              formControlName="amount"
              min="1"
              nKeyDown="return false"
              placeholder="Amount"
            />

            <button mat-button (click)="addtocart(menu.id)" type="submit">
              ADD TO CART
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </li>
  </ul>
</div>
